# Pour executer ce playbook avec le fichier crypté host_vars/vmware.yml 
# ansible-playbook vmlist_create_snapshots.yml --ask-vault-pass

---
- name: Snapshot de plusieurs VMs Linux & Windows
  hosts: localhost
  gather_facts: false

  collections:
    - community.vmware

  vars_files:
    - host_vars/vmware.yml

  vars:
    vm_list:
      - { name: "VM-ANS-V04", folder: "/YN-Datacenter/vm/Serveurs-Linux" }
      - { name: "VM-WORKFLOW-PRD", folder: "/YN-Datacenter/vm/Serveurs-Windows" }
      - { name: "VM-WEB-V01", folder: "/YN-Datacenter/vm/Serveurs-Linux" }

    snapshot_name: "snapshot-avant-maintenance"
    snapshot_description: "Snapshot automatique avant maintenance"
    snapshot_memory: false
    snapshot_quiesce: true

  tasks:
    - name: Créer snapshot pour chaque VM
      vmware_guest_snapshot:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        datacenter: "{{ vcenter_datacenter }}"
        folder: "{{ item.folder }}"
        name: "{{ item.name }}"
        state: present
        snapshot_name: "{{ snapshot_name }}"
        description: "{{ snapshot_description }}"
        memory_dump: "{{ snapshot_memory }}"
        quiesce: "{{ snapshot_quiesce }}"
      loop: "{{ vm_list }}"
      delegate_to: localhost
