# Pour executer ce playbook avec le fichier crypté host_vars/vmware.yml 
# ansible-playbook vmware_create_snapshot.yml --ask-vault-pass

---
- name: Création d'un snapshot VMware pour une VM spécifique
  hosts: localhost
  gather_facts: false

  collections:
    - community.vmware

  vars_files:
    - host_vars/vmware.yml   # contient uniquement hostname, username, password, datacenter

  vars:
    vm_name: "VM-ANS-V04"
    vm_folder: "/YN-Datacenter/vm/Serveurs-Linux"

    snapshot_name: "snapshot-avant-maintenance"
    snapshot_description: "Snapshot automatique avant maintenance via Ansible"
    snapshot_memory: false
    snapshot_quiesce: true

  tasks:
    - name: Créer un snapshot pour {{ vm_name }} dans le datacenter {{ vcenter_datacenter }}
      vmware_guest_snapshot:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: false
        datacenter: "{{ vcenter_datacenter }}"
        folder: "{{ vm_folder }}"
        name: "{{ vm_name }}"
        state: present
        snapshot_name: "{{ snapshot_name }}"
        description: "{{ snapshot_description }}"
        memory_dump: "{{ snapshot_memory }}"
        quiesce: "{{ snapshot_quiesce }}"
      delegate_to: localhost

